html, body {
  height: 100%;
  min-height: 100%;
}
body {
  -webkit-transition: padding-top 0.2s linear;
  -moz-transition: padding-top 0.2s linear;
  -o-transition: padding-top 0.2s linear;
  -ms-transition: padding-top 0.2s linear;
  transition: padding-top 0.2s linear;
  position:relative;
  padding-top:0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color : #555555;
}
body.loggedin {
  padding-top:50px;
}
.clear:after {
  content:"";
  display:table;
  clear:both;
}
.navbar {
  border:none;
}
.navbar {
  margin-bottom:0;
}
.navbar li.active a {
  color: #fff;
  background-color: #337ab7;
}

.table {
  margin-bottom: 0;
}
.table .table-body tr td {
  vertical-align: middle;
}

.navbar-inverse .navbar-brand {
  color:rgb(0,254,255);
}
.navbar-inverse .navbar-nav li a .glyphicon {
  color:rgb(0,254,255);
}
.navbar-inverse .navbar-nav li a {
  color:rgb(225, 225, 225);
}
.navbar-inverse .navbar-nav li .disabled .glyphicon,
.navbar-inverse .navbar-nav li .disabled,
.navbar-inverse .navbar-nav li a.disabled:hover,
.navbar-inverse .navbar-nav li a.disabled:focus {
  color:rgb(100, 100, 100);
  cursor:not-allowed;
}
.navbar-inverse .navbar-nav li .marked .glyphicon,
.navbar-inverse .navbar-nav li .marked {
  color:rgb(0, 0, 255);
}
.navbar-inverse .navbar-nav li .sf-toggle-live.live,
.navbar-inverse .navbar-nav li .sf-toggle-live.live:focus {
  color:rgb(0,254,255);
}
.sf-header {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  min-height: 0;
  height:0;
  overflow:hidden;
}
body.loggedin .sf-header {
  height:50px;
}
.sf-control-add-content {
  width:100%;
}