html, body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color : #555555;
}
.clear:after {
  content:"";
  display:table;
  clear:both;
}
.navbar {
  border:none;
}
.navbar-inverse .navbar-brand {
  color:rgb(0,254,255);
}
.navbar-inverse .navbar-nav li a .glyphicon {
  color:rgb(0,254,255);
}
.navbar-inverse .navbar-nav li a {
  color:rgb(225, 225, 225);
}
.navbar {
  margin-bottom:0;
}
.navbar li.active a {
  color: #fff;
  background-color: #337ab7;
}
.sf-ownerBar {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  min-height: 0;
  height:0;
  overflow:hidden;
}
body.loggedin .sf-ownerBar {
  height:50px;
}